{{{html}}}

<div class="gh-cta-gradient"></div>

<section class="gh-cta">
    {{#has visibility="paid"}}
        <h4 class="gh-cta-title">This rest of this chapter is exclusive to PRO members</h4>
        <p>This chapter contains unique insights in the form of code samples, tutorials or interviews with other 
            Salesforce fullstack developers.
        </p>
        <br>
        <p>
            Become a PRO member to get access to the most up-to-date content on how to become a fullstack Salesforce 
            developer and take your career to new heights.
        </p>

        <div class="gh-cta-actions">
            {{#if @member}}
                <button class="gh-btn gh-primary-btn" data-portal="account/plans">Get PRO</button>
            {{else}}
                <button class="gh-btn gh-primary-btn" data-portal="signup">Get PRO</button>
            {{/if}}
        </div>

        
    {{/has}}

    {{#has visibility="members"}}
        <h4 class="gh-cta-title">The rest of this chapter is exclusive to FREE members</h4>
        <p>Here's an open sample of what <b>FREE</b> members have access to: <a href="/what-problem-should-your-app-solve/" target="_blank">Is your fullstack Salesforce app 
        solving a real problem or a made-up one?</a></p>
        <br>
        <p>Did you like it?
        </p>
        <br>
        
        <div class="gh-cta-actions">
            <button class="gh-btn gh-primary-btn" data-portal="signup">Subscribe FREE</button>
        </div>     
    {{/has}}

    {{#has visibility="filter"}}
        <h4 class="gh-cta-title">This post is for subscribers on the {{tiers}} only</h4>
    {{/has}}

    <div class="gh-cta-actions">
        {{#if @member}}
            <button class="gh-btn gh-primary-btn" href="#/portal/account/plans" data-portal="account/plans">Upgrade now</button>
        {{else}}
            <!--<button class="gh-btn gh-primary-btn" href="#/portal/signup" data-portal="signup">Subscribe FREE</button>-->
            <span class="gh-cta-link" href="#/portal/signin" data-portal="signin">Already have an account? Sign in.</span>
        {{/if}}
    </div>
</section>

