{{{html}}}

<div class="gh-cta-gradient"></div>

<section class="gh-cta">
    {{#has visibility="paid"}}
        <h4 class="gh-cta-title">Exclusive to Stackforce members</h4>
        <p>Please read <a style="font-weight: bold;" href="https://www.stackforce.one/fees/" target="_blank">"Why should you pay for this blog?"</a> for more info.</p>
        <div class="gh-cta-actions">
            {{#if @member}}
                <button class="gh-btn gh-primary-btn" >
                    <a class="sign-up-link" href="https://www.salesforceapi.dev/#/portal/signup">Join</a>
                </button>
            {{else}}
                <button class="gh-btn gh-primary-btn">
                    <a class="sign-up-link" href="https://www.salesforceapi.dev/#/portal/signup">Join</a>
                </button>
            {{/if}}
        </div>

        
    {{/has}}

    {{#has visibility="members"}}
        <h4 class="gh-cta-title">Exclusive to FREE members</h4>
        <p>You missed the best part!</p>
        <p>This issue is exclusive to Stackforce free members. You are one click away.</p>
        <br>   
        <div class="gh-cta-actions">
            <button class="gh-btn gh-primary-btn" data-portal="signup">Subscribe FREE</button>
        </div>     
    {{/has}}

    {{#has visibility="filter"}}
        <h4 class="gh-cta-title">This post is for subscribers on the {{tiers}} only</h4>
    {{/has}}

    <div class="gh-cta-actions">
        {{#if @member}}
            <button class="gh-btn gh-primary-btn" href="#/portal/account/plans" data-portal="account/plans">Upgrade now</button>
        {{else}}
            <!--<button class="gh-btn gh-primary-btn" href="#/portal/signup" data-portal="signup">Subscribe FREE</button>-->
            <span class="gh-cta-link" href="#/portal/signin" data-portal="signin">Already have an account? Sign in.</span>
        {{/if}}
    </div>
</section>

